    {% extends 'core/base.html' %}
    {% load static %}
    {% block extra_headers %}
    <title>Portfolio - Paul Kut</title>
    <link rel="stylesheet" href="{% static 'portfolio/select_category.css' %}">
    {% endblock extra_headers %}
    
    {% block content %}

    <div class="category-container">
        <h2>Create Portfolio Item</h2>
        
            <select onchange="gotoCategory(this.value)">
                <option selected disabled>-- Choose category --</option>
                {% for key, value in categories.items %}
                    <option value="{{ key }}">{{ value.verbose }}</option>
                {% endfor %}
            </select>

            <button class="btn" onclick="gotoCategory(document.querySelector('select').value)">
                Continue
            </button>
    </div>

    {% endblock content %}
       
    {% block extra_scripts %} 

    <script>
        function gotoCategory(cat) {
            if (cat && cat !== "-- Choose category --") {
                window.location.href = "/portfolio/create/" + cat + "/";
            }
        }
    </script>

    {% endblock extra_scripts%}