{% extends 'core/base.html' %}

{% block extra_headers %}
    <link rel="stylesheet" href="{% static 'portfolio/v2/skill.css' %}">
{% endblock extra_headers %}
    
{% block content %}
<div class="skill-detail">
    <div class="skill-header">
        <h1>{{ skill.name }}</h1>
    </div>
    
    <div class="skill-description">
        <p>{{ skill.description }}</p>
    </div>
    
    <div class="related-content">
        <h3>Related Projects</h3>
        <!-- This would be populated via related objects in the view -->
        <div class="related-items">
            <div class="related-item">Machine Learning Research</div>
            <div class="related-item">Data Analysis Framework</div>
        </div>
    </div>
</div>
{% endblock content %}