    {% extends 'core/base.html' %}
    {% load static %}
    {% block extra_headers %}
         <title>Password Reset Complete</title>
        <link rel="stylesheet" href="{% static 'users/password_reset_complete.css' %}">
    {% endblock extra_headers %}
    
    {% block content %}

    <div class="reset-container">
        <h1>Password Reset Successful</h1>
        <p>Your password has been updated. You can now log in with your new credentials.</p>

        <a href="{% url 'login' %}" class="btn">Go to Login</a>

        <div class="extra-links">
            <p><a href="{% url 'home' %}">Back to Homepage</a></p>
        </div>
    </div>

    {% endblock content %}
