    {% extends 'core/base.html' %}
    {% load static %}
    {% block extra_headers %}
        <title>Password Reset - Set New Password</title>
        <link rel="stylesheet" href="{% static 'users/password_reset_confirm.css' %}">
    {% endblock extra_headers %}
    
    {% block content %}


    <div class="container">
        <h1>Set New Password</h1>

        {% if validlink %}
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}

                <button class="btn" type="submit">Reset Password</button>
            </form>
        {% else %}
            <p>The password reset link is invalid or has expired. Please request a new one.</p>
            <div class="extra-links">
                <p><a href="{% url 'password_reset' %}">Request new reset link</a></p>
            </div>
        {% endif %}
    </div>

    {% endblock content %}
