
    {% extends 'core/base.html' %}
    {% load static %}
    {% block extra_headers %}
        <title>Password Reset Sent</title>
        <link rel="stylesheet" href="{% static 'users/password_reset_done.css' %}">
    {% endblock extra_headers %}
    
    {% block content %}

    <div class="teext-container">
        <h1>Password Reset Email Sent</h1>
        <p>
            If an account exists with the email you entered, we have sent instructions to reset your password.  
            Please check your inbox (and spam folder just in case).
        </p>

        <a href="{% url 'login' %}" class="btn">Return to Login</a>

        <div class="extra-links">
            <p><a href="{% url 'home' %}">Back to Homepage</a></p>
        </div>
    </div>
    <!--For main content-->
    {% endblock content %}